* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:root {
    --blue: rgb(68, 90, 254);
    --spreadBlue: rgb(7, 212, 255);
    --spreadBlueA: rgba(7, 212, 255, 0.5);
    --spreadBlueA2: rgba(7, 214, 255, 0.2);
    --pink: rgb(221, 70, 176);
    --red: rgb(218, 66, 69);
    --yellow: rgb(228, 230, 55);
    --orange: rgb(255, 177, 22);
    --green: rgb(65, 212, 50);
    --white: rgb(210, 250, 255);
    --whiteA: rgba(210, 250, 255, 0.75);
    --black: rgb(0, 0, 0);
    --blackB: rgba(0, 0, 0, 0.5);

    --glass1: radial-gradient(circle,var(--spreadBlueA2) 0%, rgba(174, 233, 238, 0.25) 50%, rgba(116, 213, 243, 0.13) 100%);
    --glass2: radial-gradient(circle,var(--blackB) 0%, rgba(174, 233, 238, 0.75) 50%, rgba(116, 213, 243, 0.30) 100%);
}





body {
    background: var(--black);
    color: var(--spreadBlue);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.orbitron-text {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}
#backgroundImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -9999;
}

#backgroundImg img{
    min-width: 100vw;
    opacity: 0;
}

#spreadshieldHeaderBar {
    background: var(--glass1);
    padding: 0.25rem;
    margin-top: 0.25rem;
    width: 75%;
    margin-inline: auto;
    border-radius: 1rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    overflow: hidden;
    /* border: solid 1px var(--spreadBlue); */
    box-shadow: inset 0 8px 20px var(--spreadBlueA), 0 4px 6px var(--spreadBlueA2);
}

#spreadshieldHeaderBar h1 {
    text-align: center;
    padding: 0.25rem;
    font-weight: normal;
    user-select: none;
}


#spreadshieldFooterContainer {
    position: fixed;
    /* border: solid 1px red; */
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
}
#spreadshieldFooterBar {
    background: var(--glass1);
    padding: 0.25rem;
    border-radius: 1rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    box-shadow: inset 0 -8px 20px var(--spreadBlueA), 0 -4px 6px var(--spreadBlueA2);
}

#spreadshieldFooterBar h1 {
    text-align: center;
    padding: 0.25rem;
    font-weight: normal;
    user-select: none;
}




#contactsContainer {
    position: absolute;
    bottom: 85px;
    width: 100%;
    /* border: solid 1px red; */
    z-index: -100;
}

#contactsList {
    display: flex;
    /* border: solid 1px blue; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1rem;
}

.contact-container {
    background-color: var(--glass1);
    border: solid 1px var(--spreadBlue);
    border-radius: 1rem;
    box-shadow: 0 -5px 8px var(--spreadBlueA);
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    width: 150px;
    
}

.contact-avatar {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    height: 225px;
    border-bottom: solid 1px var(--spreadBlue);
}
.contact-avatar img {
    max-width: 100%;
    max-height: 100%;
    scale: 1.2;
}

.contact-header {
    background-color: var(--black);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.contact-name {
    background-color: var(--glass1);
    text-align: center;
    padding: 0.1rem;
    color: var(--white);
}
.contact-alerts {
    background-color: var(--spreadBlue);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.alert-bubble {
    position: relative;
    z-index: -100;
}
.missed-call::before, .new-voicemail::before, .new-text::before, .upcoming-event::before {
    content: '1';
    color: var(--white);
    text-shadow: 0 0 3px var(--spreadBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    z-index: -110;
    opacity: 1;
    font-size: 0.75rem;
    background-color: var(--glass1);
    box-shadow: inset 0 0 8px var(--white), 0 0 4px var(--white);
    border: solid 1px var(--white);
}

/* .missed-call::before {
    background-color: var(--red);
}
.new-voicemail::before {
    background-color: var(--green);
}
.new-text::before {
    background-color: var(--yellow);
}
.upcoming-event::before {
    background-color: var(--spreadBlue);
} */

